body {
    font-family: 'Roboto', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}
header {
    background-color: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
}
.upper {
    
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: baseline;
    
}
.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;

}

.links {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

.hero {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.maintext {
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8;
    margin: 10px;
}

.secondarytext {
    font-size: 18px;
    margin: 10px;
    color: #e5e7eb;
}

.botaotopo {
    display: flex;
    padding: 5px 20px;
    margin-left: 10px;
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: none;
    flex-grow: 0;
    align-self:flex-start;
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.image {
    display: flex;
    align-items: center;
}

.image img {
    width: 100%;
    display: flex;
}

.main {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    }

.title {
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    color: #1f2937;
    font-size: 36px;
}

p {
    display: flex;
    word-wrap: break-word;
} 

.boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.text {
    color: #1f2937;
    font-size: 18px;
    display: flex;
    word-wrap: break-word;
    justify-self: center;
    width: 200px;
    text-align: justify;
    text-align-last: center;

}

.container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #3882f6;
}